node_modules
vendor
*.lock
upload.sh
.vscode
html/css/sizes.css
html/[0-9]*.html
html/OL[0-9]*.html
html/index.html
html/mp3
ly/*
midi/*
svg/*
cache/*
db/*.xml
db/*.gz
db/*_zaltar.*
pslm/*.pdf
pslm/*.ly
pslm/*.svg
tiny_example.*
