node_modules
vendor
*.lock
upload.sh
.vscode
html/css/sizes.css
html/css/OL[0-9]*.css
html/[0-9]*.html
html/OL[0-9]*.html
html/index.html
html/rejstrik.html
html/o-projektu.html
html/mp3
html/sitemap.xml
html/svg
ly/*
!ly/*-7.ly
sh
all.sh
midi
cache
db/*.xml
db/*.gz
db/*.pdf
db/*_zaltar.yml
pslm/*.pdf
pslm/*.ly
pslm/*.svg
tiny_example.*
