@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('TeXGyreSchola-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('TeXGyreSchola-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('TeXGyreSchola-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'TeX Gyre Schola';
    src: url('TeXGyreSchola-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    color-scheme: light dark;
    --link-color: #BE1622;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'TeX Gyre Schola';
    position: relative;
    padding: 0 15px;
}
/* TODO: remove unused styles, also from render_sizes_css */
.score div,
.score img {
    width: 100%;
}
.score svg {
    width: 100%;
    height: auto;
}
.score {
    width: 100%;
    object-fit: cover;
}
body {
    font-size: 18px;
    margin: 0;
}
a, .back-button {
    color: var(--link-color);
}
a {
    text-decoration: none;
}
audio {
    width: 100%;
    max-height: 35px;
}
.back-button {
    position: absolute;
    width: 18px;
    padding: 16px 30px 10px 0px;
}
h1 {
    text-align: center;
}
h2.subtitle {
    font-size: 18px;
}
.calendar p,
.search p {
    margin-bottom: 5px;
}
.calendar ul,
.search ul {
    margin-top: 5px;
    padding-left: 25px;
}
.calendar .week .today {
    text-decoration: underline;
}
.search-field {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    -webkit-appearance: none;
    border: 1px solid #888888;
    border-radius: 4px;
}
p.responsum-text {
    margin: 1em 0;
}
p.verse-text {
    margin: 0;
}
.day li span {
    color: #444;
}
.occasions {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
}
.occasions h3 {
    font-weight: normal;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #eee;
    margin-top: 0;
}
.footer {
    text-align: center;
    padding-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --link-color: #ff0011;
    }
    .occasions h3 {
        background: #444;
    }
    .score {
        filter: invert(0.9);
    }
    .day li span {
        color: grey;
    }
}